{% extends 'base.html' %}
{% block content %}
    <style>
        body {
            background-color: #e1f9d5 ;
        }
        #input1 {
            width: 400px;
            height: 50px;
            margin: 10px;
            border-style: solid;
            border-color: #abd0bc;
            border-width: thin;
        }
        #submit {
            width: 409px;
            height: 50px;
            margin: 10px;
            background-color: #86b086;
            color: white;
            border-style: none;
        }
        #img {
            margin: 40px;
        }
        .login {
            text-align: center;
            margin: 30px;
        }
        #p {
            color: gray;
        }
        #signup {
            color: gray;
            text-decoration:none
        }
    </style>

<body>
    <div class="login">
    <form action="{% url 'login' %}" method="POST">
        <br>
        <input name="username" id="input1" type="text" placeholder=" 아이디"/>
        <br>
        <input name="password" id="input1" type="password" placeholder=" 비밀번호"/>
        <br>
        <button id="submit" type="submit">로그인</button>
        <br>
        <p id="p">아이디 찾기 | 비밀번호 찾기 |
        <a id="signup" href="{% url 'signup' %}">회원가입</a>
        </p>
    </form>
    </div>
</body>
</html>

{% endblock %}