{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vegan Restaurant</title>
    <style>
        body {
            text-align: center;
            background-color:#e1f9d5; 
        }
        .position{
            padding:10px;
            margin: 0 auto; 
            width:60%; 
            height: auto;
        }
        .color1{
            color:goldenrod;
        }
        .color2{
            color:darkgreen;
        }
        .gray{
            color:gray;
        }
    </style>
</head>
<body>
{% load static %}
<br>
<div class="position">
    <div style="float: left; width: 30%; padding:5px;">
        <img id="img" src="{% static 'res1.jpg' %}" width="180" height="180">
        <h3 class="color2">베제투스</h3>
        <h3 class="color1">★★★★</h3>
        <h4 class="gray"> 해방촌 | 비건 레스토랑 </h4>
    </div>
    <div style="float: left; width: 30%; padding:5px;">
        <img id="img" src="{% static 'res2.jpg' %}" width="180" height="180">
        <h3 class="color2">어라운드 그린</h3>
        <h3 class="color1">★★★★</h3>
        <h4 class="gray"> 망원동 | 비건 양식 </h4>
    </div>
    <div style="float: left; width: 30%; padding:5px;">
        <img id="img" src="{% static 'res3.jpg' %}" width="180" height="180">
        <h3 class="color2">플랜트</h3>
        <h3 class="color1">★★★★</h3>
        <h4 class="gray"> 이태원 | 샐러드,버거 등 </h4>
    </div>

    <div style="float: left; width: 30%; padding:5px;">
        <img id="img" src="{% static 'res4.jpg' %}" width="180" height="180">
        <h3 class="color2">발우공양</h3>
        <h3 class="color1">★★★★</h3>
        <h4 class="gray"> 인사동 | 정통 사찰 음식 전문점 </h4>
    </div>
    <div style="float: left; width: 30%; padding:5px;">
        <img id="img" src="{% static 'res5.jpg' %}" width="180" height="180">
        <h3 class="color2">몽크스부처</h3>
        <h3 class="color1">★★★★</h3>
        <h4 class="gray"> 이태원 | 비건 레스토랑 </h4>
    </div>
    <div style="float: left; width: 30%; padding:5px;">
        <img id="img" src="{% static 'res6.jpg' %}" width="180" height="180">
        <h3 class="color2">칙피스</h3>
        <h3 class="color1">★★★★</h3>
        <h4 class="gray"> 신사동 | 비건 레스토랑 </h4>
    </div>

    <div style="float: left; width: 30%; padding:5px;">
        <img id="img" src="{% static 'res7.jpg' %}" width="180" height="180">
        <h3 class="color2">로컬릿</h3>
        <h3 class="color1">★★★★</h3>
        <h4 class="gray"> 옥수동 | 비건 이탈리안 음식점 </h4>
    </div>
    <div style="float: left; width: 30%; padding:5px;">
        <img id="img" src="{% static 'res8.jpg' %}" width="180" height="180">
        <h3 class="color2">이세계는 놀이터예요</h3>
        <h3 class="color1">★★★★</h3>
        <h4 class="gray"> 이화여대앞 | 비건 퓨전 한식 </h4>
    </div>
    <div style="float: left; width: 30%; padding:5px;">
        <img id="img" src="{% static 'res9.jpg' %}" width="180" height="180">
        <h3 class="color2">빵어니스타</h3>
        <h3 class="color1">★★★★</h3>
        <h4 class="gray"> 연남동 | 비건 빵집 </h4>
    </div>
</div>
<div style="clear:both"></div>
</body>
{% endblock %}