<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vegan Restaurant</title>
    <style>
        body {
            text-align: center;
            background-color:#e1f9d5; 
        }
        .position{
            padding:10px;
            margin: 0 auto; 
            width:60%; 
            height: auto;
        }
        .color1{
            color:goldenrod;
        }
        .color2{
            color:darkgreen;
        }
    </style>
</head>
<body>
<div class="position">
    <div style="float: left; width: 30%; padding:5px;">
        <img id="img" src="../static/res1.png" width="180" height="180">
        <h2 class="color1">5.0</h2>
        <h2 class="color2">비건식당</h2>
        <h4>카레</h4>
    </div>
    <div style="float: left; width: 30%; padding:5px;">
        <img id="img" src="../static/res2.jpg" width="180" height="180">
        <h2 class="color1">4.6</h2>
        <h2 class="color2">비건식당</h2>
        <h4>버섯 꿔바로우, 가지구이</h4>
    </div>
    <div style="float: left; width: 30%; padding:5px;">
        <img id="img" src="../static/res3.jpg" width="180" height="180">
        <h2 class="color1">4.4</h2>
        <h2 class="color2">비건식당</h2>
        <h4>샐러드</h4>
    </div>

    <div style="float: left; width: 30%; padding:5px;">
        <img id="img" src="../static/res1.png" width="180" height="180">
        <h2 class="color1">5.0</h2>
        <h2 class="color2">비건식당</h2>
        <h4>카레</h4>
    </div>
    <div style="float: left; width: 30%; padding:5px;">
        <img id="img" src="../static/res2.jpg" width="180" height="180">
        <h2 class="color1">4.6</h2>
        <h2 class="color2">비건식당</h2>
        <h4>버섯 꿔바로우, 가지구이</h4>
    </div>
    <div style="float: left; width: 30%; padding:5px;">
        <img id="img" src="../static/res3.jpg" width="180" height="180">
        <h2 class="color1">4.4</h2>
        <h2 class="color2">비건식당</h2>
        <h4>샐러드</h4>
    </div>

    <div style="float: left; width: 30%; padding:5px;">
        <img id="img" src="../static/res1.png" width="180" height="180">
        <h2 class="color1">5.0</h2>
        <h2 class="color2">비건식당</h2>
        <h4>카레</h4>
    </div>
    <div style="float: left; width: 30%; padding:5px;">
        <img id="img" src="../static/res2.jpg" width="180" height="180">
        <h2 class="color1">4.6</h2>
        <h2 class="color2">비건식당</h2>
        <h4>버섯 꿔바로우, 가지구이</h4>
    </div>
    <div style="float: left; width: 30%; padding:5px;">
        <img id="img" src="../static/res3.jpg" width="180" height="180">
        <h2 class="color1">4.4</h2>
        <h2 class="color2">비건식당</h2>
        <h4>샐러드</h4>
    </div>
</div>
</body>