<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            text-align: center;
        }
        #img {
            margin: 30px;
        }
        .content {
            margin: 5% 20%;
            padding: 20px;
            background-color: rgb(243, 243, 243);
        }
        .detail {
            margin: 30px;
            padding: 50px;
            background-color: rgba(189, 185, 185, 0.5);
        }

    </style>
</head>
<body>
    {% load static %}
    <img id="img" src="{% static 'logo2.png'%}" alt="logo" width="430">
    <hr>
    <div class="content">
        
        <div class="detail">
        <p>채식주의자의 종류로는 8가지가 있습니다. <br>
            가장 프리한 단계인 플렉시 테리언 부터, 폴로  베지테리언, 
            페스코 베지테리언, 락토 오브 베지테리언, 오보 베지테리언,
            락토 베지테리언, 비건, 그리고 가장 높은 단계인 프루테리언까지
        </p>
        </div>

        <div class="detail">
        <h2>1. 플렉시 테리언</h2>
        <p>평소에 채식을 하지만 상황에 따라 육식도 겸하는 아주 자유로운 단계의 채식주의자</p>
        </div>

        
        <div class="detail">
        <h2>2. 폴로 베지테리언</h2>
        <p>우유 및 유제품, 동물의 알, 생선, 어패류, 닭고기까지 먹는 단계로 다른 
            상위 레벨에 비해 상대적으로 자유롭고, 다채로운 식사가 가능한 채식주의자</p>
        </div>

            
        <div class="detail">
        <h2>3. 페스코 베지테리언</h2>
        <p>포유동물 소, 돼지 등과 가금류 닭, 오리는 먹지 않으며 가금류의 
            알(계란, 오리알 등)까지는 섭취가능하다. 동물성 해산물까지 취식이 가능한 레벨</p>
        </div>

            
        <div class="detail">
        <h2>4. 락토 오브 베지테리언</h2>
        <p>달걀이나 우유, 꿀과 같은 동물에게서 자연스레 얻을 수 있는 것들까지 허용하는 단계.
            밑의 상위 레벨인 락토와 오보 두가지를 동시에 수용하는 레벨이기도 하다.</p>
        </div>

            
        <div class="detail">
        <h2>5. 오보 베지테리언</h2>
        <p>라틴어에서 오보는 ‘알’을 의미하며 고기, 생선, 우유, 유제품은 먹지 않지만 
            계란과 같은 알의 종류까지는 섭취할 수 있는 단계</p>
        </div>

            
        <div class="detail">
        <h2>6. 락토 베지테리언</h2>
        <p>육류와 어패류, 계란과 같은 동물의 알은 먹지 않으며 우유와 꿀, 버터, 치즈, 
            요구르트와 같은 유제품 섭취까지 허용하는 단계.
            라틴어에서 락토는 ‘젖’을 의미하는데 동물에게 해를 입히고 얻는 물질이 아니기에 
            수용할 수 있다는 가치관을 가지고 있다.</p>
        </div>

            
        <div class="detail">
        <h2>7. 비건</h2>
        <p>높은 단계의 채식주의자로 1944년 베지테리언 소사이어티에서 처음 나온 개념으로 
            비건 뜻은 Beginning + Vegetarian = Vegan 의 합성어입니다. 
            유제품과 동물의 알을 포함한 모든 종류의 동물성 식훔을 지양하며 음식외에도 
            동물의 희생이 생기는 제품을 반대하는 등 
            가장 적극적인 모습을 보입니다. 예를 들어 동물의 외관에서 얻을 수 있는 모피,
             가죽, 뿔 혹은 벌에게서 얻을 수 있는 꿀, 
            바다에서 사는 생선 등 생명이 있는 모든 동물성 식제품을 거부합니다.</p>
        </div>

            
        <div class="detail">
        <h2>8. 프루테리언</h2>
        <p>가장 높은 레벨의 극단적 채식주의자로 이들은 스스로에게 과일과 견과류 종류만 허용합니다. 
            동물뿐만 아니라 식물의 생명도 존중하는 사람들로 정말 큰 믿음과 확신이 없으면 아무나 할 수 없는 단계입니다.</p>
        </div>
    </div>
</body>
</html>