{% extends 'base.html' %}
{% block content %}
<style>
    footer {
        margin-top: 100px;
        border-top: solid 1px #dddddd;
    }

    #footer_menu li {
        display: inline;
    }

    #footer_menu {
        padding-top: 30px;
    }

    .footers {
        float: left;
    }
    .clear {
        clear: both;
    }

    .sub2 {
        text-align: center;
        border-bottom: 2px solid black;
    }

    .sub3 {
        float: left;
    }

    .ii {
        width: 450px;
        height: 500px;
    }

    .dd {
        margin-left: 200px;
        margin-right: 50px;
        width: 450px;
        height: 500px;
        border: 1px solid #e8e8e8;
        float: left;
    }

    .ii2 {
        width: 65px;
        height: 70px;
        border: 1px solid #e8e8e8;
        float: left;
        margin-right:10px;
    }

    table{
        width:800px;
        height: 200px;
    }
    th{
        text-align: left;
        width:200px;
        color:gray;
        height: 100px;
    }
    .a{
        color:red;
        font-style: italic;
    }
    ul {
        list-style: none;
        margin-left: 160px;
    }
</style>

<body>
    <a href="{% url 'productedit' hsub.id %}">수정하기</a>
    <br><br>
    <div>
        <br><br><br>
        <table>
            {% if hsub.image %}
            <div class="dd">
            <img src="{{hsub.image.url}}" alt="" class="ii">
            </div>
            {% endif %}

            <tbody class="sub3">
                <tr>
                    <td class="sub2" colspan="2">
                        <h1>{{hsub.title}}</h1>
                    </td>
                </tr>
                <tr>
                    <th>업체</th>
                    <td>{{hsub.writer}}</td>
                </tr>
                <tr>
                    <th>가격</th>
                    <td class="a">{{hsub.body}}</td>
                </tr>
                <tr>
                    <th>설명</th>
                    <td>{{hsub.body2}}</td>
                </tr>
                <tr>
                    <th>별점</th>
                    <td>4.7점/5점</td>
                </tr>
            </tbody>
        </table>
        <ul>
            <li><img src="{{hsub.image.url}}" alt="" class="ii2"></li>
            <li><img src="{{hsub.image.url}}" alt="" class="ii2"></li>
        </ul>
    </div>
    <div class="clear"></div>
</body>
<footer>
    <div class="footers">
        <ul>
            <h3>Veginning(주)</h3>
            <li>사업자 등록번호 1234</li>
            <li>대표이사 해리포터 | 호그와트 12345</li>
            <li>전화 1234-56789</li>
        </ul>
    </div>
    <div class="footers">
        <ul>
            <h3>고객센터</h3>
            <li>1:1 문의 바로가기</li>
            <li>전자금융거래 분쟁처리</li>
        </ul>
    </div>
</footer>
{% endblock %}