<style>
    footer {
        margin-top: 100px;
        border-top: solid 1px #dddddd;
    }

    #footer_menu li {
        display: inline;
    }

    #footer_menu {
        padding-top: 30px;
    }

    .footers {
        float: left;
    }

    .sub2 {
        text-align: center;
        border-bottom: 2px solid black;
    }

    .sub3 {
        float: left;
    }

    img {
        width: 450px;
        height: 500px;
        float: left;
        padding-right: 50px;
        padding-left: 20px;
    }

    table,
    th,
    td,tr {
        border: 1px solid black;
        width: 300px;
        height: 100px;

    }
</style>

<body>
    <a href="{% url 'productdelete' psub.id %}">삭제하기</a>
    <a href="{% url 'productedit' psub.id %}">수정하기</a>
    <br><br>
    <div>
        <table>

            {% if psub.image %}
            <img src="{{psub.image.url}}" alt="">
            {% endif %}

            <tbody class="sub3">
                <tr>
                    <td class="sub2" colspan="2">
                        <h1>{{psub.title}}</h1>
                    </td>
                </tr>
                <tr>
                    <th>업체</th>
                    <td>{{psub.writer}}</td>
                </tr>
                <tr>
                    <th>구입 주소</th>
                    <td>{{psub.body}}</td>
                </tr>
                <tr>
                    <th>설명</th>
                    <td>{{psub.body2}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<footer>
    <div class="footers">
        <ul>
            <h3>Veginning(주)</h3>
            <li>사업자 등록번호 1234</li>
            <li>대표이사 해리포터 | 호그와트 12345</li>
            <li>전화 1234-56789</li>
        </ul>
    </div>
    <div class="footers">
        <ul>
            <h3>고객센터</h3>
            <li>1:1 문의 바로가기</li>
            <li>전자금융거래 분쟁처리</li>
        </ul>
    </div>
</footer>