<style>
    .sub {
        float: left;
        margin-left: 20px;
        margin-right: 30px;
    }
    ul {
        list-style: none;
        text-align: left;
    }
    .a{
        color: black;
        margin-top: 35px;
    }
    .b {
        color: black;
        margin-top: 8px;
    }
    .c{
        font-weight: bold;
    }
</style>

<body>
    <a href="{% url 'productdelete' psub.id %}">삭제하기</a>
    <a href="{% url 'productedit' psub.id %}">수정하기</a>
    <br><br>
    <div>
        <div class="sub">
            {% if psub.image %}
            <p><img src="{{psub.image.url}}" alt="" width="450" height="500"></p>
            {% endif %}
        </div>
        <ul>
            <li class="a"><h1>{{psub.title}}</h1></li>
            <li class="b"><h3>{{psub.writer}}</h3></li>
            <li class="c">구입처-{{psub.body}}</li>
            <li>{{psub.body2}}</li>
        </ul>
    </div>
</body>