<style>
    .sub {
        float: left;
        padding-right: 40px;
        padding-left:20px;
    }
    .sub2{
        text-align: center;
        border-bottom:2px solid black;
    }
    .sub3{
        float:left;
    }
    ul {
        list-style: none;
        text-align: left;
    }

    .a {
        color: black;
        margin-top: 35px;
    }

    .b {
        color: black;
        margin-top: 8px;
    }

    .c {
        font-weight: bold;
    }
</style>

<body>
    <a href="{% url 'productdelete' psub.id %}">삭제하기</a>
    <a href="{% url 'productedit' psub.id %}">수정하기</a>
    <br><br>
    <div>
        <table>
            <div class="sub">
                {% if psub.image %}
                <p><img src="{{psub.image.url}}" alt="" width="450" height="500"></p>
                {% endif %}
            </div>
            <tbody class="sub3">
                <tr>
                    <td class="sub2" colspan="2">
                        <h1>{{psub.title}}</h1>
                    </td>
                </tr>
                <tr>
                    <th>업체</th>
                    <td>{{psub.writer}}</td>
                </tr>
                <tr>
                    <th>구입 주소</th>
                    <td>{{psub.body}}</td>
                </tr>
                <tr>
                    <th>설명</th>
                    <td>{{psub.body2}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>