
{% for p_obj in p_posts %}

<br>
<div class="main">
   
    <br>
    <div class="flip-box">
        <div class="flip">
            <div class ="front">
                {% if p_obj.image %}
                <p><img src="{{p_obj.thumbnail.url}}"></p>
                {% endif %}
            </div>
            <div class="back">
                    <h3>{{p_obj.title}}</h3>
                    {{p_obj.writer}}/
                    {{p_obj.summary}}
                    <a href="{% url 'productsub' p_obj.id %}">...more</a>
                    <br><br>
            </div>
        </div>
    </div>
</div>
<br>
{% endfor %}

<div class="container">
    <br><br>
    <a href="{% url 'productnew' %}">Write</a>
    {%if p_posts.has_previous %}
    <a href ="?p_page=1">first_page</a>
    <a href ="?p_page={{p_posts.previous_page_number}}">previous</a>
    {% endif %}

    <span>{{p_posts.number}}</span>
    <span>of</span>
    <span>{{p_posts.paginator.num_pages}}</span>

    {% if p_posts.has_next %}
    <a href ="?p_page={{p_posts.next_page_number}}">Next</a>
    <a href ="?p_page={{p_posts.paginator.num_pages}}">Last</a>
    {% endif %}
</div>

