{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<section class="main-slider">
    <ul class="slider-container">
        <li class="slide">
            <img class="slide-img" src="{% static 'vegetable1.jpg' %}">
        </li>
        <li class="slide">
            <img class="slide-img" src="{% static 'vegetable2.jpg' %}">
        </li>
        <li class="slide">
            <img class="slide-img" src="{% static 'vegetable3.jpg' %}">
        </li>
    </ul>

    <a href="#" id="prev"><img src="{% static 'left-arrow.svg' %}"></a>
    <a href="#" id="next"><img src="{% static 'right-arrow.svg' %}"></a>
</section>

<section class="main-store">
    <div class="box_prd-best">
        <h2>인기 상품</h2>
        <a class="more_link" href="{% url 'product' %}">더보기</a>
        <ul class="list_prd-best">
            <li class="prd-best-item">
                <div class="wrap_prd-best-item">
                    <div class="prd-thumb"><img src="{% static 'noodle.jpg' %}"></div>
                    <div class="prd-info"><span>맛있는 라면</span><br><p>4000원</p></div>
                </div>
            </li>
            <li class="prd-best-item">
                <div class="wrap_prd-best-item">
                    <div class="prd-thumb"><img src="{% static 'mayo.jpg' %}"></div>
                    <div class="prd-info"><span>마요네즈</span><br><p>4000원</p></div>
                </div>
            </li>
            <li class="prd-best-item">
                <div class="wrap_prd-best-item">
                    <div class="prd-thumb"><img src="{% static 'activia.jpg' %}"></div>
                    <div class="prd-info"><span>식물성 액티비아</span><br><p>4000원</p></div>
                </div>
            </li>
            <li class="prd-best-item">
                <div class="wrap_prd-best-item">
                    <div class="prd-thumb"><img src="{% static 'zeromeat.jpg' %}"></div>
                    <div class="prd-info"><span>비건 한입까스</span><br><p>4000원</p></div>
                </div>
            </li>
            
        </ul>
    </div>
    
</section>

<section class="main-community">
    <div class="box_community-best">
        <h2>커뮤니티 인기글</h2>
        <a class="more_link">더보기</a>
        <div class="wrapper_table">
            <table class="table_best-post">
                <tr>
                    <td rowspan="2" class="best-post-thumb"><img src="{% static 'vegan-food.jpg' %}"></td>
                    <td class="best-post-title">연남동 비건 식당 후기</td>
                </tr>
                <tr>
                    <td class="best-post-body">어제 어디어디에 있다는 어디 비건식당을 갔음. 가격은 이정도고 동물성 원료는 ...</td>
                </tr>
            </table>
            <table class="table_best-post">
                <tr>
                    <td rowspan="2" class="best-post-thumb"><img src="{% static 'activia.jpg' %}"></td>
                    <td class="best-post-title">연남동 비건 식당 후기</td>
                </tr>
                <tr>
                    <td class="best-post-body">어제 어디어디에 있다는 어디 비건식당을 갔음. 가격은 이정도고 동물성 원료는 ...</td>
                </tr>
            </table>
        </div>
        
    </div>

    <script type="text/javascript" src="{%static 'js/index.js'%}" ></script>
    <script>
        calculateTallestSlides();
        goToSlide(0);
    </script>
</section>

{% endblock %}